{% extends "bootstrap.html" %}

{% block title %}
NEX for {{ dpa_id }}
{% endblock title %}
{% block header %}
            <li><a href="{{PREFIX}}/nex/start">Overview</a></li>
            <li class="active"><a href="#">Compare Text</a></li>
            <li><a href="{{PREFIX}}/nex/{{dpa_id}}/overlap/3">Overlap</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Tool codes<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">
                            Tool code is the last part
                            of the URL after
                            the dpa-id</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="all">/all = all tools</a></li>
                        <li><a href="a">/a = ambiverse</a></li>
                        <li><a href="d">/d = dandelion</a></li>
                        <li><a href="t">/t = txtwerk</a></li>
                        <li><a href="y">/y = aylien</a></li>
                        <li><a href="t">/t = textrazor</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="ads">example: /ad = ambiverse + dandelion</a></li>
                    </ul>
                <li><a href="{{PREFIX}}/nex/{{dpa_id}}/evaluation">Evaluation</a></li>
                <li><a href="{{PREFIX}}/nex/{{next_dpa_id["random_dpa_id"]}}/{{tool_code}}">Random Text</a></li>
                </li>
                <li><a href="https://www.dpa.com/de/produkte-services/portale-apps-labs/newslab/" target="_blank">About dpa-newslab</a></li>

            

{% endblock header %}

<!--<h3> The text for dpa-id {{dpa_id}} is:</h3>-->

{% block caption %}
<h3 style="text-align: center;">{{text_output["title"]}}/h3>
<div style="text-align: center;"><a href="https://pipette.dpa-newslab.com/pipette/#/doc/{{dpa_id_link}}" target="_blank">{{dpa_id}}</a></div>
<nav aria-label="...">
  <ul class="pager">
    <li><a href="{{PREFIX}}/nex/{{next_dpa_id["pre_dpa_id"]}}/{{tool_code}}">&lt;&lt; Previous Text</a></li>
    <li><a href="{{PREFIX}}/nex/{{next_dpa_id["post_dpa_id"]}}/{{tool_code}}">Next Text &gt;&gt;</a></li>
  </ul>
</nav>
{% endblock caption %}
{% block content %}
<div class="col-md-12">
    {% block content_h %}
        <div class="row">
        {% for item in output_object %}
            <div class="{{column_class}}">
            <!--<th class="ner-header" style="width33%">-->
                <h2>{{item["tool"]}}</h2>
                <h3>Entities found: {{item["length"]}}</h3>
                    <p>({{item["rate_entity"]}} words per entity)</p>
                <!--<p>Avg. confidence: {{item["avg_confidence"]}}</p>-->
                <p>&nbsp;</p>
                        {% for row in item["text_list"] %}
                            {%- if row["status"]=="text" -%}
                                {{row["text"]}}
                            {%- elif row["status"]=="entity+uri" -%}
                                <mark><a class="tooltips" style="background-color:{{row["color"]}}" target="_blank" href="https://wikidata.org/wiki/{{row["uri"]}}"
                                    >{{row["text"]}}<span>
                                        {%- if row["confidence"]=="No confidence found" -%}
                                            {{row["confidence"]}}, {{row["label"]}}, <i>{{row["category"]}}</i>
                                        {%- elif row["confidence"]>1 -%}
                                            {{row["confidence"]}}⬆, {{row["label"]}}, <i>{{row["category"]}}</i>
                                        {%- elif row["confidence"]>0 -%}
                                            {{row["confidence"]}}⇧, {{row["label"]}}, <i>{{row["category"]}}</i>
                                        {%- elif row["confidence"]<0 -%}
                                            {{row["confidence"]}}⇩, {{row["label"]}}, <i>{{row["category"]}}</i>
                                        {%- elif row["confidence"]<1 -%}
                                            {{row["confidence"]}}⬇, {{row["label"]}}, <i>{{row["category"]}}</i>
                                        {%- endif -%}
                                        </span></a></mark>
                            {%- elif row["status"]=="entity-uri" -%}
                                <a class="tooltips" style="border: 4px solid, {{row["color"]}}"> 
                                {{row["text"]}}<span>{{row["confidence"]}}, {{row["label"]}}, <i>{{row["category"]}}</i></span></a>
                            {%- endif -%}
                        {% endfor %}
                    </div>
                {% endfor %}
            <p>&nbsp;</p>
            </div>
        </div>
      {% endblock content_h %}  
</div>
{% endblock content %}
{% block footer %}
&copy; <a style="color:white" href="https://github.com/gobitodic/hug-minimal-server" target="_blank">Alex Gaus</a>&nbsp;&amp;&nbsp;<a style="color: white" href="https://github.com/dpa-newslab/" target="_blank">dpa-newslab</a>
{% endblock footer %}
